---
info:
  title: GitLab API
  version: v4
swagger: '2.0'
produces:
  - application/json
securityDefinitions:
  access_token_header:
    type: apiKey
    name: PRIVATE-TOKEN
    in: header
  access_token_query:
    type: apiKey
    name: private_token
    in: query
host: gitlab.com
tags:
  - name: groups
    description: Operations about groups
  - name: projects
    description: Operations related to projects
#  - name: members
#    description: Operations about members
#  - name: commits
#    description: Operations about commits
#  - name: tags
#    description: Operations about tags
#  - name: user
#    description: Operations about users
paths:
  "/api/v4/projects/{id}/(ref/{ref}/)trigger/pipeline":
    post:
      description: Trigger a GitLab project pipeline
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID or URL-encoded path of the project
          type: string
          required: true
          example: 18
        - in: path
          name: ref
          description: The commit sha or name of a branch or tag
          type: string
          required: true
          example: develop
        - name: postApiV4ProjectsId(refRef)triggerPipeline
          in: body
          required: true
          schema:
            "$ref": "#/definitions/postApiV4ProjectsId(refRef)triggerPipeline"
      responses:
        '201':
          description: Trigger a GitLab project pipeline
          schema:
            "$ref": "#/definitions/API_Entities_Ci_Pipeline"
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
      tags:
        - projects
      operationId: postApiV4ProjectsId(refRef)triggerPipeline
  "/api/v4/projects/{id}/repository/tree":
    get:
      description: Get a project repository tree
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID or URL-encoded path of the project
          type: string
          required: true
          example: 1
        - in: query
          name: ref
          description: The name of a repository branch or tag, if not given the default
            branch is used
          type: string
          required: false
          example: main
        - in: query
          name: path
          description: The path of the tree
          type: string
          required: false
          example: files/html
        - in: query
          name: recursive
          description: Used to get a recursive tree
          type: boolean
          default: false
          required: false
        - in: query
          name: page
          description: Current page number
          type: integer
          format: int32
          default: 1
          required: false
          example: 1
        - in: query
          name: per_page
          description: Number of items per page
          type: integer
          format: int32
          default: 20
          required: false
          example: 20
        - in: query
          name: pagination
          description: Specify the pagination method ("none" is only valid if "recursive"
            is true)
          type: string
          default: legacy
          enum:
            - legacy
            - keyset
            - none
          required: false
        - in: query
          name: page_token
          description: Record from which to start the keyset pagination
          type: string
          required: false
          example: a1e8f8d745cc87e3a9248358d9352bb7f9a0aeba
      responses:
        '200':
          description: Get a project repository tree
          schema:
            "$ref": "#/definitions/API_Entities_TreeObject"
      tags:
        - projects
      operationId: getApiV4ProjectsIdRepositoryTree
  "/api/v4/projects/{id}/repository/files/{file_path}/raw":
    get:
      description: Get raw file contents from the repository
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The project ID
          type: string
          required: true
          example: gitlab-org/gitlab
        - in: path
          name: file_path
          description: The url encoded path to the file.
          type: string
          required: true
          example: lib%2Fclass%2Erb
        - in: query
          name: ref
          description: The name of branch, tag or commit
          type: string
          required: false
          example: main
        - in: query
          name: lfs
          description: Retrieve binary data for a file that is an lfs pointer
          type: boolean
          default: false
          required: false
      responses:
        '200':
          description: Get raw file contents from the repository
          schema:
            type: file
      tags:
        - projects
      operationId: getApiV4ProjectsIdRepositoryFilesFilePathRaw
  "/api/v4/projects/{id}":
    get:
      description: Get a single project
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID or URL-encoded path of the project
          type: string
          required: true
        - in: query
          name: statistics
          description: Include project statistics
          type: boolean
          default: false
          required: false
        - in: query
          name: with_custom_attributes
          description: Include custom attributes in the response
          type: boolean
          default: false
          required: false
        - in: query
          name: license
          description: Include project license data
          type: boolean
          default: false
          required: false
      responses:
        '200':
          description: Get a single project
          schema:
            "$ref": "#/definitions/API_Entities_ProjectWithAccess"
      tags:
        - projects
      operationId: getApiV4ProjectsId
    put:
      description: Update an existing project
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID or URL-encoded path of the project
          type: string
          required: true
        - name: putApiV4ProjectsId
          in: body
          required: true
          schema:
            "$ref": "#/definitions/putApiV4ProjectsId"
      responses:
        '200':
          description: Update an existing project
          schema:
            "$ref": "#/definitions/API_Entities_Project"
        '400':
          description: Bad request
        '403':
          description: Unauthenticated
      tags:
        - projects
      operationId: putApiV4ProjectsId
    delete:
      description: Delete a project
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID or URL-encoded path of the project
          type: string
          required: true
      responses:
        '202':
          description: Delete a project
        '403':
          description: Unauthenticated
        '404':
          description: Not found
      tags:
        - projects
      operationId: deleteApiV4ProjectsId
  "/api/v4/projects/{id}/fork":
    post:
      description: Fork new project for the current user or provided namespace.
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID or URL-encoded path of the project
          type: string
          required: true
        - name: postApiV4ProjectsIdFork
          in: body
          required: true
          schema:
            "$ref": "#/definitions/postApiV4ProjectsIdFork"
      responses:
        '201':
          description: Fork new project for the current user or provided namespace.
          schema:
            "$ref": "#/definitions/API_Entities_Project"
        '403':
          description: Unauthenticated
        '404':
          description: Not found
        '409':
          description: Conflict
      tags:
        - projects
      operationId: postApiV4ProjectsIdFork
    delete:
      description: Remove a forked_from relationship
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID or URL-encoded path of the project
          type: string
          required: true
      responses:
        '204':
          description: Remove a forked_from relationship
        '304':
          description: Not modified
        '403':
          description: Unauthenticated
        '404':
          description: Not found
      tags:
        - projects
      operationId: deleteApiV4ProjectsIdFork
  "/api/v4/projects/{id}/forks":
    get:
      description: List forks of this project
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID or URL-encoded path of the project
          type: string
          required: true
        - in: query
          name: order_by
          description: Return projects ordered by field. storage_size, repository_size,
            wiki_size, packages_size are only available to admins. Similarity is available
            when searching and is limited to projects the user has access to.
          type: string
          default: created_at
          enum:
            - id
            - name
            - path
            - created_at
            - updated_at
            - last_activity_at
            - similarity
            - star_count
            - storage_size
            - repository_size
            - wiki_size
            - packages_size
          required: false
        - in: query
          name: sort
          description: Return projects sorted in ascending and descending order
          type: string
          default: desc
          enum:
            - asc
            - desc
          required: false
        - in: query
          name: archived
          description: Limit by archived status
          type: boolean
          required: false
        - in: query
          name: visibility
          description: Limit by visibility
          type: string
          enum:
            - private
            - internal
            - public
          required: false
        - in: query
          name: search
          description: Return list of projects matching the search criteria
          type: string
          required: false
        - in: query
          name: search_namespaces
          description: Include ancestor namespaces when matching search criteria
          type: boolean
          required: false
        - in: query
          name: owned
          description: Limit by owned by authenticated user
          type: boolean
          default: false
          required: false
        - in: query
          name: starred
          description: Limit by starred status
          type: boolean
          default: false
          required: false
        - in: query
          name: imported
          description: Limit by imported by authenticated user
          type: boolean
          default: false
          required: false
        - in: query
          name: membership
          description: Limit by projects that the current user is a member of
          type: boolean
          default: false
          required: false
        - in: query
          name: with_issues_enabled
          description: Limit by enabled issues feature
          type: boolean
          default: false
          required: false
        - in: query
          name: with_merge_requests_enabled
          description: Limit by enabled merge requests feature
          type: boolean
          default: false
          required: false
        - in: query
          name: with_programming_language
          description: Limit to repositories which use the given programming language
          type: string
          required: false
        - in: query
          name: min_access_level
          description: Limit by minimum access level of authenticated user
          type: integer
          format: int32
          enum:
            - 10
            - 20
            - 30
            - 40
            - 50
          required: false
        - in: query
          name: id_after
          description: Limit results to projects with IDs greater than the specified
            ID
          type: integer
          format: int32
          required: false
        - in: query
          name: id_before
          description: Limit results to projects with IDs less than the specified ID
          type: integer
          format: int32
          required: false
        - in: query
          name: last_activity_after
          description: 'Limit results to projects with last_activity after specified
          time. Format: ISO 8601 YYYY-MM-DDTHH:MM:SSZ'
          type: string
          format: date-time
          required: false
        - in: query
          name: last_activity_before
          description: 'Limit results to projects with last_activity before specified
          time. Format: ISO 8601 YYYY-MM-DDTHH:MM:SSZ'
          type: string
          format: date-time
          required: false
        - in: query
          name: repository_storage
          description: Which storage shard the repository is on. Available only to admins
          type: string
          required: false
        - in: query
          name: topic
          description: Comma-separated list of topics. Limit results to projects having
            all topics
          type: array
          items:
            type: string
          required: false
        - in: query
          name: topic_id
          description: Limit results to projects with the assigned topic given by the
            topic ID
          type: integer
          format: int32
          required: false
        - in: query
          name: updated_before
          description: 'Return projects updated before the specified datetime. Format:
          ISO 8601 YYYY-MM-DDTHH:MM:SSZ'
          type: string
          format: date-time
          required: false
        - in: query
          name: updated_after
          description: 'Return projects updated after the specified datetime. Format:
          ISO 8601 YYYY-MM-DDTHH:MM:SSZ'
          type: string
          format: date-time
          required: false
        - in: query
          name: include_pending_delete
          description: Include projects in pending delete state. Can only be set by
            admins
          type: boolean
          required: false
        - in: query
          name: wiki_checksum_failed
          description: Limit by projects where wiki checksum is failed
          type: boolean
          default: false
          required: false
        - in: query
          name: repository_checksum_failed
          description: Limit by projects where repository checksum is failed
          type: boolean
          default: false
          required: false
        - in: query
          name: include_hidden
          description: Include hidden projects. Can only be set by admins
          type: boolean
          default: false
          required: false
        - in: query
          name: marked_for_deletion_on
          description: Date when the project was marked for deletion
          type: string
          format: date
          required: false
        - in: query
          name: page
          description: Current page number
          type: integer
          format: int32
          default: 1
          required: false
          example: 1
        - in: query
          name: per_page
          description: Number of items per page
          type: integer
          format: int32
          default: 20
          required: false
          example: 20
        - in: query
          name: simple
          description: Return only the ID, URL, name, and path of each project
          type: boolean
          default: false
          required: false
        - in: query
          name: with_custom_attributes
          description: Include custom attributes in the response
          type: boolean
          default: false
          required: false
      responses:
        '200':
          description: List forks of this project
          schema:
            type: array
            items:
              "$ref": "#/definitions/API_Entities_Project"
      tags:
        - projects
      operationId: getApiV4ProjectsIdForks
  "/api/v4/projects/{id}/pages_access":
    get:
      description: Check pages access of this project
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID or URL-encoded path of the project
          type: string
          required: true
      responses:
        '200':
          description: Check pages access of this project
        '403':
          description: Unauthenticated
      tags:
        - projects
      operationId: getApiV4ProjectsIdPagesAccess
  "/api/v4/projects/{id}/archive":
    post:
      description: Archive a project
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID or URL-encoded path of the project
          type: string
          required: true
      responses:
        '201':
          description: Archive a project
          schema:
            "$ref": "#/definitions/API_Entities_Project"
        '403':
          description: Unauthenticated
      tags:
        - projects
      operationId: postApiV4ProjectsIdArchive
  "/api/v4/projects/{id}/unarchive":
    post:
      description: Unarchive a project
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID or URL-encoded path of the project
          type: string
          required: true
      responses:
        '201':
          description: Unarchive a project
          schema:
            "$ref": "#/definitions/API_Entities_Project"
        '403':
          description: Unauthenticated
      tags:
        - projects
      operationId: postApiV4ProjectsIdUnarchive
  "/api/v4/projects/{id}/star":
    post:
      description: Star a project
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID or URL-encoded path of the project
          type: string
          required: true
      responses:
        '201':
          description: Star a project
          schema:
            "$ref": "#/definitions/API_Entities_Project"
        '304':
          description: Not modified
        '403':
          description: Unauthenticated
      tags:
        - projects
      operationId: postApiV4ProjectsIdStar
  "/api/v4/projects/{id}/unstar":
    post:
      description: Unstar a project
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID or URL-encoded path of the project
          type: string
          required: true
      responses:
        '201':
          description: Unstar a project
          schema:
            "$ref": "#/definitions/API_Entities_Project"
        '304':
          description: Not modified
        '403':
          description: Unauthenticated
      tags:
        - projects
      operationId: postApiV4ProjectsIdUnstar
  "/api/v4/projects/{id}/starrers":
    get:
      description: Get the users who starred a project
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID or URL-encoded path of the project
          type: string
          required: true
        - in: query
          name: search
          description: Return list of users matching the search criteria
          type: string
          required: false
          example: user
        - in: query
          name: page
          description: Current page number
          type: integer
          format: int32
          default: 1
          required: false
          example: 1
        - in: query
          name: per_page
          description: Number of items per page
          type: integer
          format: int32
          default: 20
          required: false
          example: 20
      responses:
        '200':
          description: Get the users who starred a project
          schema:
            type: array
            items:
              "$ref": "#/definitions/API_Entities_UserBasic"
        '403':
          description: Unauthenticated
        '404':
          description: Not found
      tags:
        - projects
      operationId: getApiV4ProjectsIdStarrers
  "/api/v4/projects/{id}/languages":
    get:
      description: Get languages in project repository
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID or URL-encoded path of the project
          type: string
          required: true
      responses:
        '200':
          description: Get languages in project repository
        '404':
          description: Not found
      tags:
        - projects
      operationId: getApiV4ProjectsIdLanguages
  "/api/v4/projects/{id}/fork/{forked_from_id}":
    post:
      description: Mark this project as forked from another
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID or URL-encoded path of the project
          type: string
          required: true
        - in: path
          name: forked_from_id
          description: The ID of the project it was forked from
          type: string
          required: true
          example: gitlab
      responses:
        '201':
          description: Mark this project as forked from another
          schema:
            "$ref": "#/definitions/API_Entities_Project"
        '401':
          description: Unauthorized
        '403':
          description: Unauthenticated
        '404':
          description: Not found
      tags:
        - projects
      operationId: postApiV4ProjectsIdForkForkedFromId
  "/api/v4/projects/{id}/share":
    post:
      description: Share the project with a group
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID or URL-encoded path of the project
          type: string
          required: true
        - name: postApiV4ProjectsIdShare
          in: body
          required: true
          schema:
            "$ref": "#/definitions/postApiV4ProjectsIdShare"
      responses:
        '201':
          description: Share the project with a group
          schema:
            "$ref": "#/definitions/API_Entities_ProjectGroupLink"
        '400':
          description: Bad request
        '403':
          description: Unauthenticated
        '404':
          description: Not found
      tags:
        - projects
      operationId: postApiV4ProjectsIdShare
  "/api/v4/projects/{id}/share/{group_id}":
    delete:
      description: Remove a group share
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID or URL-encoded path of the project
          type: string
          required: true
        - in: path
          name: group_id
          description: The ID of the group
          type: integer
          format: int32
          required: true
      responses:
        '204':
          description: Remove a group share
        '400':
          description: Bad request
        '404':
          description: Not found
      tags:
        - projects
      operationId: deleteApiV4ProjectsIdShareGroupId
  "/api/v4/projects/{id}/import_project_members/{project_id}":
    post:
      summary: Import members from another project
      description: This feature was introduced in GitLab 14.2
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID or URL-encoded path of the project
          type: string
          required: true
        - in: path
          name: project_id
          description: The ID of the source project to import the members from.
          type: integer
          format: int32
          required: true
      responses:
        '200':
          description: Import members from another project
        '403':
          description: Unauthenticated
        '404':
          description: Project Not Found
        '422':
          description: Import failed
      tags:
        - projects
      operationId: postApiV4ProjectsIdImportProjectMembersProjectId
  "/api/v4/projects/{id}/users":
    get:
      description: Get the users list of a project
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID or URL-encoded path of the project
          type: string
          required: true
        - in: query
          name: search
          description: Return list of users matching the search criteria
          type: string
          required: false
          example: user
        - in: query
          name: skip_users
          description: Filter out users with the specified IDs
          type: array
          items:
            type: integer
            format: int32
          required: false
        - in: query
          name: page
          description: Current page number
          type: integer
          format: int32
          default: 1
          required: false
          example: 1
        - in: query
          name: per_page
          description: Number of items per page
          type: integer
          format: int32
          default: 20
          required: false
          example: 20
      responses:
        '200':
          description: Get the users list of a project
          schema:
            type: array
            items:
              "$ref": "#/definitions/API_Entities_UserBasic"
        '403':
          description: Unauthenticated
        '404':
          description: Not found
      tags:
        - projects
      operationId: getApiV4ProjectsIdUsers
  "/api/v4/projects/{id}/groups":
    get:
      description: Get ancestor and shared groups for a project
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID or URL-encoded path of the project
          type: string
          required: true
        - in: query
          name: search
          description: Return list of groups matching the search criteria
          type: string
          required: false
          example: group
        - in: query
          name: skip_groups
          description: Array of group ids to exclude from list
          type: array
          items:
            type: integer
            format: int32
          required: false
        - in: query
          name: with_shared
          description: Include shared groups
          type: boolean
          default: false
          required: false
        - in: query
          name: shared_visible_only
          description: Limit to shared groups user has access to
          type: boolean
          default: false
          required: false
        - in: query
          name: shared_min_access_level
          description: Limit returned shared groups by minimum access level to the project
          type: integer
          format: int32
          enum:
            - 10
            - 20
            - 30
            - 40
            - 50
          required: false
        - in: query
          name: page
          description: Current page number
          type: integer
          format: int32
          default: 1
          required: false
          example: 1
        - in: query
          name: per_page
          description: Number of items per page
          type: integer
          format: int32
          default: 20
          required: false
          example: 20
      responses:
        '200':
          description: Get ancestor and shared groups for a project
          schema:
            type: array
            items:
              "$ref": "#/definitions/API_Entities_PublicGroupDetails"
        '403':
          description: Unauthenticated
        '404':
          description: Not found
      tags:
        - projects
      operationId: getApiV4ProjectsIdGroups
  "/api/v4/projects/{id}/invited_groups":
    get:
      description: Get a list of invited groups in this project
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID or URL-encoded path of the project
          type: string
          required: true
        - in: query
          name: relation
          description: Filter by group relation
          type: array
          items:
            type: string
            enum:
              - direct
              - inherited
          required: false
        - in: query
          name: search
          description: Search for a specific group
          type: string
          required: false
        - in: query
          name: min_access_level
          description: Limit by minimum access level of authenticated user
          type: integer
          format: int32
          enum:
            - 10
            - 20
            - 30
            - 40
            - 50
          required: false
        - in: query
          name: page
          description: Current page number
          type: integer
          format: int32
          default: 1
          required: false
          example: 1
        - in: query
          name: per_page
          description: Number of items per page
          type: integer
          format: int32
          default: 20
          required: false
          example: 20
        - in: query
          name: with_custom_attributes
          description: Include custom attributes in the response
          type: boolean
          default: false
          required: false
      responses:
        '200':
          description: Get a list of invited groups in this project
          schema:
            type: array
            items:
              "$ref": "#/definitions/API_Entities_Group"
      tags:
        - projects
      operationId: getApiV4ProjectsIdInvitedGroups
  "/api/v4/projects/{id}/housekeeping":
    post:
      summary: Start the housekeeping task for a project
      description: This feature was introduced in GitLab 9.0.
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID or URL-encoded path of the project
          type: string
          required: true
        - name: postApiV4ProjectsIdHousekeeping
          in: body
          required: true
          schema:
            "$ref": "#/definitions/postApiV4ProjectsIdHousekeeping"
      responses:
        '201':
          description: Start the housekeeping task for a project
        '401':
          description: Unauthorized
        '403':
          description: Unauthenticated
        '409':
          description: Conflict
      tags:
        - projects
      operationId: postApiV4ProjectsIdHousekeeping
  "/api/v4/projects/{id}/repository_size":
    post:
      summary: Start a task to recalculate repository size for a project
      description: This feature was introduced in GitLab 15.0.
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID or URL-encoded path of the project
          type: string
          required: true
      responses:
        '201':
          description: Start a task to recalculate repository size for a project
        '401':
          description: Unauthorized
        '403':
          description: Unauthenticated
      tags:
        - projects
      operationId: postApiV4ProjectsIdRepositorySize
  "/api/v4/projects/{id}/transfer":
    put:
      description: Transfer a project to a new namespace
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID or URL-encoded path of the project
          type: string
          required: true
        - name: putApiV4ProjectsIdTransfer
          in: body
          required: true
          schema:
            "$ref": "#/definitions/putApiV4ProjectsIdTransfer"
      responses:
        '200':
          description: Transfer a project to a new namespace
          schema:
            "$ref": "#/definitions/API_Entities_Project"
        '400':
          description: Bad request
        '403':
          description: Unauthenticated
        '404':
          description: Not found
      tags:
        - projects
      operationId: putApiV4ProjectsIdTransfer
  "/api/v4/projects/{id}/transfer_locations":
    get:
      description: Get the namespaces to where the project can be transferred
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID or URL-encoded path of the project
          type: string
          required: true
        - in: query
          name: search
          description: Return list of namespaces matching the search criteria
          type: string
          required: false
          example: search
        - in: query
          name: page
          description: Current page number
          type: integer
          format: int32
          default: 1
          required: false
          example: 1
        - in: query
          name: per_page
          description: Number of items per page
          type: integer
          format: int32
          default: 20
          required: false
          example: 20
      responses:
        '200':
          description: Get the namespaces to where the project can be transferred
          schema:
            type: array
            items:
              "$ref": "#/definitions/API_Entities_PublicGroupDetails"
        '403':
          description: Unauthenticated
      tags:
        - projects
      operationId: getApiV4ProjectsIdTransferLocations
  "/api/v4/projects/{id}/storage":
    get:
      description: Show the storage information
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: ID of a project
          type: string
          required: true
      responses:
        '200':
          description: Show the storage information
          schema:
            "$ref": "#/definitions/API_Entities_ProjectRepositoryStorage"
        '403':
          description: Unauthenticated
      tags:
        - projects
      operationId: getApiV4ProjectsIdStorage
  "/api/v4/projects/{id}/restore":
    post:
      description: Restore a project
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          type: integer
          format: int32
          required: true
      responses:
        '201':
          description: Restore a project
          schema:
            "$ref": "#/definitions/API_Entities_Project"
      tags:
        - projects
      operationId: postApiV4ProjectsIdRestore
  "/api/v4/projects/{id}/audit_events":
    get:
      description: Get a list of audit events in this project.
      produces:
        - application/json
      parameters:
        - in: query
          name: created_after
          description: Return audit events created after the specified time
          type: string
          format: date-time
          required: false
          example: '2016-01-19T09:05:50.355Z'
        - in: query
          name: created_before
          description: Return audit events created before the specified time
          type: string
          format: date-time
          required: false
          example: '2016-01-19T09:05:50.355Z'
        - in: query
          name: page
          description: Current page number
          type: integer
          format: int32
          default: 1
          required: false
          example: 1
        - in: query
          name: per_page
          description: Number of items per page
          type: integer
          format: int32
          default: 20
          required: false
          example: 20
        - in: path
          name: id
          type: integer
          format: int32
          required: true
      responses:
        '200':
          description: Get a list of audit events in this project.
          schema:
            type: array
            items:
              "$ref": "#/definitions/EE_API_Entities_AuditEvent"
      tags:
        - projects
      operationId: getApiV4ProjectsIdAuditEvents
  "/api/v4/projects/{id}/audit_events/{audit_event_id}":
    get:
      description: Get a specific audit event in this project.
      produces:
        - application/json
      parameters:
        - in: path
          name: audit_event_id
          description: The ID of the audit event
          type: integer
          format: int32
          required: true
        - in: path
          name: id
          type: integer
          format: int32
          required: true
      responses:
        '200':
          description: Get a specific audit event in this project.
          schema:
            "$ref": "#/definitions/EE_API_Entities_AuditEvent"
      tags:
        - projects
      operationId: getApiV4ProjectsIdAuditEventsAuditEventId
  "/api/v4/projects/{id}/protected_branches":
    get:
      description: Get a project's protected branches
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID or URL-encoded path of the project
          type: string
          required: true
          example: gitlab-org/gitlab
        - in: query
          name: page
          description: Current page number
          type: integer
          format: int32
          default: 1
          required: false
          example: 1
        - in: query
          name: per_page
          description: Number of items per page
          type: integer
          format: int32
          default: 20
          required: false
          example: 20
        - in: query
          name: search
          description: Search for a protected branch by name
          type: string
          required: false
          example: mai
      responses:
        '200':
          description: Get a project's protected branches
          schema:
            type: array
            items:
              "$ref": "#/definitions/API_Entities_ProtectedBranch"
        '404':
          description: 404 Project Not Found
        '401':
          description: 401 Unauthorized
      tags:
        - projects
      operationId: getApiV4ProjectsIdProtectedBranches
    post:
      description: Protect a single branch
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID or URL-encoded path of the project
          type: string
          required: true
          example: gitlab-org/gitlab
        - name: postApiV4ProjectsIdProtectedBranches
          in: body
          required: true
          schema:
            "$ref": "#/definitions/postApiV4ProjectsIdProtectedBranches"
      responses:
        '201':
          description: Protect a single branch
          schema:
            "$ref": "#/definitions/API_Entities_ProtectedBranch"
        '422':
          description: name is missing
        '409':
          description: Protected branch 'main' already exists
        '404':
          description: 404 Project Not Found
        '401':
          description: 401 Unauthorized
      tags:
        - projects
      operationId: postApiV4ProjectsIdProtectedBranches
  "/api/v4/projects/{id}/protected_branches/{name}":
    get:
      description: Get a single protected branch
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID or URL-encoded path of the project
          type: string
          required: true
          example: gitlab-org/gitlab
        - in: path
          name: name
          description: The name of the branch or wildcard
          type: string
          required: true
          example: main
      responses:
        '200':
          description: Get a single protected branch
          schema:
            "$ref": "#/definitions/API_Entities_ProtectedBranch"
        '404':
          description: 404 Project Not Found
        '401':
          description: 401 Unauthorized
      tags:
        - projects
      operationId: getApiV4ProjectsIdProtectedBranchesName
    patch:
      description: Update a protected branch
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID or URL-encoded path of the project
          type: string
          required: true
          example: gitlab-org/gitlab
        - in: path
          name: name
          description: The name of the branch
          type: string
          required: true
          example: main
        - name: patchApiV4ProjectsIdProtectedBranchesName
          in: body
          required: true
          schema:
            "$ref": "#/definitions/patchApiV4ProjectsIdProtectedBranchesName"
      responses:
        '200':
          description: Update a protected branch
          schema:
            "$ref": "#/definitions/API_Entities_ProtectedBranch"
        '422':
          description: Push access levels access level has already been taken
        '404':
          description: 404 Project Not Found
        '401':
          description: 401 Unauthorized
        '400':
          description: 400 Bad request
      tags:
        - projects
      operationId: patchApiV4ProjectsIdProtectedBranchesName
    delete:
      description: Unprotect a single branch
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID or URL-encoded path of the project
          type: string
          required: true
          example: gitlab-org/gitlab
        - in: path
          name: name
          description: The name of the protected branch
          type: string
          required: true
          example: main
      responses:
        '204':
          description: Unprotect a single branch
        '404':
          description: 404 Project Not Found
        '401':
          description: 401 Unauthorized
      tags:
        - projects
      operationId: deleteApiV4ProjectsIdProtectedBranchesName
  "/api/v4/groups/{id}":
    put:
      description: Update a group. Available only for users who can administrate groups.
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID of a group
          type: string
          required: true
        - name: putApiV4GroupsId
          in: body
          required: true
          schema:
            "$ref": "#/definitions/putApiV4GroupsId"
      responses:
        '200':
          description: Update a group. Available only for users who can administrate
            groups.
          schema:
            "$ref": "#/definitions/API_Entities_Group"
      tags:
        - groups
      operationId: putApiV4GroupsId
    get:
      description: Get a single group, with containing projects.
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID of a group
          type: string
          required: true
        - in: query
          name: with_custom_attributes
          description: Include custom attributes in the response
          type: boolean
          default: false
          required: false
        - in: query
          name: with_projects
          description: Omit project details
          type: boolean
          default: true
          required: false
      responses:
        '200':
          description: Get a single group, with containing projects.
          schema:
            "$ref": "#/definitions/API_Entities_GroupDetail"
      tags:
        - groups
      operationId: getApiV4GroupsId
    delete:
      description: Remove a group.
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID of a group
          type: string
          required: true
      responses:
        '204':
          description: Remove a group.
      tags:
        - groups
      operationId: deleteApiV4GroupsId
  "/api/v4/groups/{id}/groups/shared":
    get:
      description: Get a list of shared groups this group was invited to
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID of a group
          type: string
          required: true
        - in: query
          name: skip_groups
          description: Array of group ids to exclude from list
          type: array
          items:
            type: integer
            format: int32
          required: false
        - in: query
          name: visibility
          description: Limit by visibility
          type: string
          enum:
            - private
            - internal
            - public
          required: false
        - in: query
          name: search
          description: Search for a specific group
          type: string
          required: false
        - in: query
          name: min_access_level
          description: Minimum access level of authenticated user
          type: integer
          format: int32
          enum:
            - 10
            - 20
            - 30
            - 40
            - 50
          required: false
        - in: query
          name: order_by
          description: Order by name, path, id or similarity if searching
          type: string
          default: name
          enum:
            - name
            - path
            - id
            - similarity
          required: false
        - in: query
          name: sort
          description: Sort by asc (ascending) or desc (descending)
          type: string
          default: asc
          enum:
            - asc
            - desc
          required: false
        - in: query
          name: page
          description: Current page number
          type: integer
          format: int32
          default: 1
          required: false
          example: 1
        - in: query
          name: per_page
          description: Number of items per page
          type: integer
          format: int32
          default: 20
          required: false
          example: 20
        - in: query
          name: with_custom_attributes
          description: Include custom attributes in the response
          type: boolean
          default: false
          required: false
      responses:
        '200':
          description: Get a list of shared groups this group was invited to
          schema:
            type: array
            items:
              "$ref": "#/definitions/API_Entities_Group"
      tags:
        - groups
      operationId: getApiV4GroupsIdGroupsShared
  "/api/v4/groups/{id}/invited_groups":
    get:
      description: Get a list of invited groups in this group
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID of a group
          type: string
          required: true
        - in: query
          name: relation
          description: Include group relations
          type: array
          items:
            type: string
            enum:
              - direct
              - inherited
          required: false
        - in: query
          name: search
          description: Search for a specific group
          type: string
          required: false
        - in: query
          name: min_access_level
          description: Minimum access level of authenticated user
          type: integer
          format: int32
          enum:
            - 10
            - 20
            - 30
            - 40
            - 50
          required: false
        - in: query
          name: page
          description: Current page number
          type: integer
          format: int32
          default: 1
          required: false
          example: 1
        - in: query
          name: per_page
          description: Number of items per page
          type: integer
          format: int32
          default: 20
          required: false
          example: 20
        - in: query
          name: with_custom_attributes
          description: Include custom attributes in the response
          type: boolean
          default: false
          required: false
      responses:
        '200':
          description: Get a list of invited groups in this group
          schema:
            type: array
            items:
              "$ref": "#/definitions/API_Entities_Group"
      tags:
        - groups
      operationId: getApiV4GroupsIdInvitedGroups
  "/api/v4/groups/{id}/projects":
    get:
      description: Get a list of projects in this group.
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID of a group
          type: string
          required: true
        - in: query
          name: archived
          description: Limit by archived status
          type: boolean
          required: false
        - in: query
          name: visibility
          description: Limit by visibility
          type: string
          enum:
            - private
            - internal
            - public
          required: false
        - in: query
          name: search
          description: Return list of authorized projects matching the search criteria
          type: string
          required: false
        - in: query
          name: order_by
          description: Return projects ordered by field
          type: string
          default: created_at
          enum:
            - id
            - name
            - path
            - created_at
            - updated_at
            - last_activity_at
            - similarity
            - star_count
          required: false
        - in: query
          name: sort
          description: Return projects sorted in ascending and descending order
          type: string
          default: desc
          enum:
            - asc
            - desc
          required: false
        - in: query
          name: simple
          description: Return only the ID, URL, name, and path of each project
          type: boolean
          default: false
          required: false
        - in: query
          name: owned
          description: Limit by owned by authenticated user
          type: boolean
          default: false
          required: false
        - in: query
          name: starred
          description: Limit by starred status
          type: boolean
          default: false
          required: false
        - in: query
          name: with_issues_enabled
          description: Limit by enabled issues feature
          type: boolean
          default: false
          required: false
        - in: query
          name: with_merge_requests_enabled
          description: Limit by enabled merge requests feature
          type: boolean
          default: false
          required: false
        - in: query
          name: with_shared
          description: Include projects shared to this group
          type: boolean
          default: true
          required: false
        - in: query
          name: include_subgroups
          description: Includes projects in subgroups of this group
          type: boolean
          default: false
          required: false
        - in: query
          name: include_ancestor_groups
          description: Includes projects in ancestors of this group
          type: boolean
          default: false
          required: false
        - in: query
          name: min_access_level
          description: Limit by minimum access level of authenticated user on projects
          type: integer
          format: int32
          enum:
            - 10
            - 20
            - 30
            - 40
            - 50
          required: false
        - in: query
          name: page
          description: Current page number
          type: integer
          format: int32
          default: 1
          required: false
          example: 1
        - in: query
          name: per_page
          description: Number of items per page
          type: integer
          format: int32
          default: 20
          required: false
          example: 20
        - in: query
          name: with_custom_attributes
          description: Include custom attributes in the response
          type: boolean
          default: false
          required: false
        - in: query
          name: with_security_reports
          description: Return only projects having security report artifacts present
          type: boolean
          default: false
          required: false
      responses:
        '200':
          description: Get a list of projects in this group.
          schema:
            type: array
            items:
              "$ref": "#/definitions/API_Entities_Project"
      tags:
        - groups
      operationId: getApiV4GroupsIdProjects
  "/api/v4/groups/{id}/projects/shared":
    get:
      description: Get a list of shared projects in this group
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID of a group
          type: string
          required: true
        - in: query
          name: archived
          description: Limit by archived status
          type: boolean
          required: false
        - in: query
          name: visibility
          description: Limit by visibility
          type: string
          enum:
            - private
            - internal
            - public
          required: false
        - in: query
          name: search
          description: Return list of authorized projects matching the search criteria
          type: string
          required: false
        - in: query
          name: order_by
          description: Return projects ordered by field
          type: string
          default: created_at
          enum:
            - id
            - name
            - path
            - created_at
            - updated_at
            - last_activity_at
            - star_count
          required: false
        - in: query
          name: sort
          description: Return projects sorted in ascending and descending order
          type: string
          default: desc
          enum:
            - asc
            - desc
          required: false
        - in: query
          name: simple
          description: Return only the ID, URL, name, and path of each project
          type: boolean
          default: false
          required: false
        - in: query
          name: starred
          description: Limit by starred status
          type: boolean
          default: false
          required: false
        - in: query
          name: with_issues_enabled
          description: Limit by enabled issues feature
          type: boolean
          default: false
          required: false
        - in: query
          name: with_merge_requests_enabled
          description: Limit by enabled merge requests feature
          type: boolean
          default: false
          required: false
        - in: query
          name: min_access_level
          description: Limit by minimum access level of authenticated user on projects
          type: integer
          format: int32
          enum:
            - 10
            - 20
            - 30
            - 40
            - 50
          required: false
        - in: query
          name: page
          description: Current page number
          type: integer
          format: int32
          default: 1
          required: false
          example: 1
        - in: query
          name: per_page
          description: Number of items per page
          type: integer
          format: int32
          default: 20
          required: false
          example: 20
        - in: query
          name: with_custom_attributes
          description: Include custom attributes in the response
          type: boolean
          default: false
          required: false
      responses:
        '200':
          description: Get a list of shared projects in this group
          schema:
            type: array
            items:
              "$ref": "#/definitions/API_Entities_Project"
      tags:
        - groups
      operationId: getApiV4GroupsIdProjectsShared
  "/api/v4/groups/{id}/subgroups":
    get:
      description: Get a list of subgroups in this group.
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID of a group
          type: string
          required: true
        - in: query
          name: statistics
          description: Include project statistics
          type: boolean
          default: false
          required: false
        - in: query
          name: skip_groups
          description: Array of group ids to exclude from list
          type: array
          items:
            type: integer
            format: int32
          required: false
        - in: query
          name: all_available
          description: Show all group that you have access to
          type: boolean
          required: false
        - in: query
          name: visibility
          description: Limit by visibility
          type: string
          enum:
            - private
            - internal
            - public
          required: false
        - in: query
          name: search
          description: Search for a specific group
          type: string
          required: false
        - in: query
          name: owned
          description: Limit by owned by authenticated user
          type: boolean
          default: false
          required: false
        - in: query
          name: order_by
          description: Order by name, path, id or similarity if searching
          type: string
          default: name
          enum:
            - name
            - path
            - id
            - similarity
          required: false
        - in: query
          name: sort
          description: Sort by asc (ascending) or desc (descending)
          type: string
          default: asc
          enum:
            - asc
            - desc
          required: false
        - in: query
          name: min_access_level
          description: Minimum access level of authenticated user
          type: integer
          format: int32
          enum:
            - 10
            - 20
            - 30
            - 40
            - 50
          required: false
        - in: query
          name: top_level_only
          description: Only include top-level groups
          type: boolean
          required: false
        - in: query
          name: repository_storage
          description: Filter by repository storage used by the group
          type: string
          required: false
        - in: query
          name: marked_for_deletion_on
          description: Date when the group was marked for deletion
          type: string
          format: date
          required: false
        - in: query
          name: page
          description: Current page number
          type: integer
          format: int32
          default: 1
          required: false
          example: 1
        - in: query
          name: per_page
          description: Number of items per page
          type: integer
          format: int32
          default: 20
          required: false
          example: 20
        - in: query
          name: with_custom_attributes
          description: Include custom attributes in the response
          type: boolean
          default: false
          required: false
      responses:
        '200':
          description: Get a list of subgroups in this group.
          schema:
            type: array
            items:
              "$ref": "#/definitions/API_Entities_Group"
      tags:
        - groups
      operationId: getApiV4GroupsIdSubgroups
  "/api/v4/groups/{id}/descendant_groups":
    get:
      description: Get a list of descendant groups of this group.
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID of a group
          type: string
          required: true
        - in: query
          name: statistics
          description: Include project statistics
          type: boolean
          default: false
          required: false
        - in: query
          name: skip_groups
          description: Array of group ids to exclude from list
          type: array
          items:
            type: integer
            format: int32
          required: false
        - in: query
          name: all_available
          description: Show all group that you have access to
          type: boolean
          required: false
        - in: query
          name: visibility
          description: Limit by visibility
          type: string
          enum:
            - private
            - internal
            - public
          required: false
        - in: query
          name: search
          description: Search for a specific group
          type: string
          required: false
        - in: query
          name: owned
          description: Limit by owned by authenticated user
          type: boolean
          default: false
          required: false
        - in: query
          name: order_by
          description: Order by name, path, id or similarity if searching
          type: string
          default: name
          enum:
            - name
            - path
            - id
            - similarity
          required: false
        - in: query
          name: sort
          description: Sort by asc (ascending) or desc (descending)
          type: string
          default: asc
          enum:
            - asc
            - desc
          required: false
        - in: query
          name: min_access_level
          description: Minimum access level of authenticated user
          type: integer
          format: int32
          enum:
            - 10
            - 20
            - 30
            - 40
            - 50
          required: false
        - in: query
          name: top_level_only
          description: Only include top-level groups
          type: boolean
          required: false
        - in: query
          name: repository_storage
          description: Filter by repository storage used by the group
          type: string
          required: false
        - in: query
          name: marked_for_deletion_on
          description: Date when the group was marked for deletion
          type: string
          format: date
          required: false
        - in: query
          name: page
          description: Current page number
          type: integer
          format: int32
          default: 1
          required: false
          example: 1
        - in: query
          name: per_page
          description: Number of items per page
          type: integer
          format: int32
          default: 20
          required: false
          example: 20
        - in: query
          name: with_custom_attributes
          description: Include custom attributes in the response
          type: boolean
          default: false
          required: false
      responses:
        '200':
          description: Get a list of descendant groups of this group.
          schema:
            type: array
            items:
              "$ref": "#/definitions/API_Entities_Group"
      tags:
        - groups
      operationId: getApiV4GroupsIdDescendantGroups
  "/api/v4/groups/{id}/projects/{project_id}":
    post:
      description: Transfer a project to the group namespace. Available only for admin.
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID of a group
          type: string
          required: true
        - in: path
          name: project_id
          description: The ID or path of the project
          type: string
          required: true
      responses:
        '201':
          description: Transfer a project to the group namespace. Available only for
            admin.
          schema:
            "$ref": "#/definitions/API_Entities_GroupDetail"
      tags:
        - groups
      operationId: postApiV4GroupsIdProjectsProjectId
  "/api/v4/groups/{id}/transfer_locations":
    get:
      description: Get the groups to where the current group can be transferred to
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID of a group
          type: string
          required: true
        - in: query
          name: search
          description: Return list of namespaces matching the search criteria
          type: string
          required: false
        - in: query
          name: page
          description: Current page number
          type: integer
          format: int32
          default: 1
          required: false
          example: 1
        - in: query
          name: per_page
          description: Number of items per page
          type: integer
          format: int32
          default: 20
          required: false
          example: 20
      responses:
        '200':
          description: Get the groups to where the current group can be transferred
            to
          schema:
            type: array
            items:
              "$ref": "#/definitions/API_Entities_Group"
      tags:
        - groups
      operationId: getApiV4GroupsIdTransferLocations
  "/api/v4/groups/{id}/transfer":
    post:
      description: Transfer a group to a new parent group or promote a subgroup to
        a top-level group
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID of a group
          type: string
          required: true
        - name: postApiV4GroupsIdTransfer
          in: body
          required: true
          schema:
            "$ref": "#/definitions/postApiV4GroupsIdTransfer"
      responses:
        '201':
          description: Transfer a group to a new parent group or promote a subgroup
            to a top-level group
      tags:
        - groups
      operationId: postApiV4GroupsIdTransfer
  "/api/v4/groups/{id}/share":
    post:
      description: Share a group with a group
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID of a group
          type: string
          required: true
        - name: postApiV4GroupsIdShare
          in: body
          required: true
          schema:
            "$ref": "#/definitions/postApiV4GroupsIdShare"
      responses:
        '201':
          description: Share a group with a group
          schema:
            "$ref": "#/definitions/API_Entities_GroupDetail"
      tags:
        - groups
      operationId: postApiV4GroupsIdShare
  "/api/v4/groups/{id}/share/{group_id}":
    delete:
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID of a group
          type: string
          required: true
        - in: path
          name: group_id
          description: The ID of the shared group
          type: integer
          format: int32
          required: true
      responses:
        '204':
          description: deleted Share
      tags:
        - groups
      operationId: deleteApiV4GroupsIdShareGroupId
  "/api/v4/groups/{id}/tokens/revoke":
    post:
      summary: Revoke a single token
      description: |
        Revoke a token, if it has access to the group or any of its subgroups
        and projects. If the token is revoked, or was already revoked, its
        details are returned in the response.

        The following criteria must be met:

        - The group must be a top-level group.
        - You must have Owner permission in the group.
        - The token type is one of:
          - Personal access token
          - Group access token
          - Project access token
          - Group deploy token
          - User feed token

        This feature is gated by the :group_agnostic_token_revocation feature flag.
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID of a top-level group
          type: string
          required: true
        - name: postApiV4GroupsIdTokensRevoke
          in: body
          required: true
          schema:
            "$ref": "#/definitions/postApiV4GroupsIdTokensRevoke"
      responses:
        '201':
          description: Revoke a single token
      tags:
        - groups
      operationId: postApiV4GroupsIdTokensRevoke
  "/api/v4/groups/{id}/ldap_sync":
    post:
      description: Sync a group with LDAP.
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          type: integer
          format: int32
          required: true
      responses:
        '201':
          description: Sync a group with LDAP.
      tags:
        - groups
      operationId: postApiV4GroupsIdLdapSync
  "/api/v4/groups/{id}/audit_events":
    get:
      description: Get a list of audit events in this group.
      produces:
        - application/json
      parameters:
        - in: query
          name: created_after
          description: Return audit events created after the specified time
          type: string
          format: date-time
          required: false
          example: '2016-01-19T09:05:50.355Z'
        - in: query
          name: created_before
          description: Return audit events created before the specified time
          type: string
          format: date-time
          required: false
          example: '2016-01-19T09:05:50.355Z'
        - in: query
          name: page
          description: Current page number
          type: integer
          format: int32
          default: 1
          required: false
          example: 1
        - in: query
          name: per_page
          description: Number of items per page
          type: integer
          format: int32
          default: 20
          required: false
          example: 20
        - in: path
          name: id
          type: integer
          format: int32
          required: true
      responses:
        '200':
          description: Get a list of audit events in this group.
          schema:
            type: array
            items:
              "$ref": "#/definitions/EE_API_Entities_AuditEvent"
      tags:
        - groups
      operationId: getApiV4GroupsIdAuditEvents
  "/api/v4/groups/{id}/audit_events/{audit_event_id}":
    get:
      description: Get a specific audit event in this group.
      produces:
        - application/json
      parameters:
        - in: path
          name: audit_event_id
          description: The ID of the audit event
          type: integer
          format: int32
          required: true
        - in: path
          name: id
          type: integer
          format: int32
          required: true
      responses:
        '200':
          description: Get a specific audit event in this group.
          schema:
            "$ref": "#/definitions/EE_API_Entities_AuditEvent"
      tags:
        - groups
      operationId: getApiV4GroupsIdAuditEventsAuditEventId
  "/api/v4/groups/{id}/restore":
    post:
      description: Restore a group.
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          type: integer
          format: int32
          required: true
      responses:
        '201':
          description: Restore a group.
      tags:
        - groups
      operationId: postApiV4GroupsIdRestore
  "/api/v4/groups/{id}/provisioned_users":
    get:
      description: Get a list of users provisioned by the group
      produces:
        - application/json
      parameters:
        - in: query
          name: username
          description: Return a single user with a specific username
          type: string
          required: false
        - in: query
          name: search
          description: Search users by name, email or username
          type: string
          required: false
        - in: query
          name: active
          description: Return only active users
          type: boolean
          default: false
          required: false
        - in: query
          name: blocked
          description: Return only blocked users
          type: boolean
          default: false
          required: false
        - in: query
          name: created_after
          description: Return users created after the specified time
          type: string
          format: date-time
          required: false
        - in: query
          name: created_before
          description: Return users created before the specified time
          type: string
          format: date-time
          required: false
        - in: query
          name: page
          description: Current page number
          type: integer
          format: int32
          default: 1
          required: false
          example: 1
        - in: query
          name: per_page
          description: Number of items per page
          type: integer
          format: int32
          default: 20
          required: false
          example: 20
        - in: path
          name: id
          type: integer
          format: int32
          required: true
      responses:
        '200':
          description: Get a list of users provisioned by the group
          schema:
            "$ref": "#/definitions/API_Entities_UserPublic"
      tags:
        - groups
      operationId: getApiV4GroupsIdProvisionedUsers
  "/api/v4/groups/{id}/users":
    get:
      description: Get a list of users for the group
      produces:
        - application/json
      parameters:
        - in: query
          name: search
          description: Search users by name, email or username
          type: string
          required: false
        - in: query
          name: active
          description: Filters only active users
          type: boolean
          default: false
          required: false
        - in: query
          name: include_saml_users
          description: Return users with a SAML identity in this group
          type: boolean
          required: false
        - in: query
          name: include_service_accounts
          description: Return service accounts owned by this group
          type: boolean
          required: false
        - in: query
          name: page
          description: Current page number
          type: integer
          format: int32
          default: 1
          required: false
          example: 1
        - in: query
          name: per_page
          description: Number of items per page
          type: integer
          format: int32
          default: 20
          required: false
          example: 20
        - in: path
          name: id
          type: integer
          format: int32
          required: true
      responses:
        '200':
          description: Get a list of users for the group
          schema:
            "$ref": "#/definitions/API_Entities_UserPublic"
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '404':
          description: 404 Not Found
      tags:
        - groups
      operationId: getApiV4GroupsIdUsers
  "/api/v4/groups/{id}/ssh_certificates":
    get:
      summary: Get a list of Groups::SshCertificate for a Group.
      description: Get a list of ssh certificates created for a group.
      produces:
        - application/json
      parameters:
        - in: query
          name: page
          description: Current page number
          type: integer
          format: int32
          default: 1
          required: false
          example: 1
        - in: query
          name: per_page
          description: Number of items per page
          type: integer
          format: int32
          default: 20
          required: false
          example: 20
        - in: path
          name: id
          type: integer
          format: int32
          required: true
      responses:
        '200':
          description: Get a list of ssh certificates created for a group.
          schema:
            type: array
            items:
              "$ref": "#/definitions/EE_API_Entities_SshCertificate"
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: 404 Not Found
      tags:
        - groups
      operationId: getApiV4GroupsIdSshCertificates
    post:
      summary: Add a Groups::SshCertificate.
      description: Create a ssh certificate for a group.
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          type: integer
          format: int32
          required: true
        - name: postApiV4GroupsIdSshCertificates
          in: body
          required: true
          schema:
            "$ref": "#/definitions/postApiV4GroupsIdSshCertificates"
      responses:
        '201':
          description: Create a ssh certificate for a group.
          schema:
            "$ref": "#/definitions/EE_API_Entities_SshCertificate"
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
      tags:
        - groups
      operationId: postApiV4GroupsIdSshCertificates
  "/api/v4/groups/{id}/ssh_certificates/{ssh_certificates_id}":
    delete:
      summary: Removes an ssh certificate from a group.
      description: Removes a Groups::SshCertificate
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          type: integer
          format: int32
          required: true
        - in: path
          name: ssh_certificates_id
          type: integer
          format: int32
          required: true
      responses:
        '204':
          description: Removes an ssh certificate from a group.
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Unprocessable entity
      tags:
        - groups
      operationId: deleteApiV4GroupsIdSshCertificatesSshCertificatesId
definitions:
  API_Entities_AccessRequester:
    type: object
    properties:
      id:
        type: integer
        format: int32
        example: 1
      username:
        type: string
        example: admin
      name:
        type: string
        example: Administrator
      state:
        type: string
        example: active
      locked:
        type: boolean
      avatar_url:
        type: string
        example: https://gravatar.com/avatar/1
      avatar_path:
        type: string
        example: "/user/avatar/28/The-Big-Lebowski-400-400.png"
      custom_attributes:
        type: array
        items:
          "$ref": "#/definitions/API_Entities_CustomAttribute"
      web_url:
        type: string
        example: https://gitlab.example.com/root
      requested_at:
        type: string
    description: API_Entities_AccessRequester model
  API_Entities_CustomAttribute:
    type: object
    properties:
      key:
        type: string
        example: foo
      value:
        type: string
        example: bar
    description: API_Entities_CustomAttribute model
  putApiV4GroupsIdAccessRequestsUserIdApprove:
    type: object
    properties:
      access_level:
        type: integer
        format: int32
        description: 'A valid access level (defaults: `30`, the Developer role)'
        default: 30
    description: Approves an access request for the given user.
  API_Entities_AwardEmoji:
    type: object
    properties:
      id:
        type: integer
        format: int32
        example: 1
      name:
        type: string
        example: lizard
      user:
        "$ref": "#/definitions/API_Entities_UserBasic"
      created_at:
        type: string
        format: date-time
        example: '2019-01-10T13:39:08Z'
      updated_at:
        type: string
        format: date-time
        example: '2020-06-28T10:52:04Z'
      awardable_id:
        type: integer
        format: int32
        example: 42
      awardable_type:
        type: string
        example: Issue
      url:
        type: string
        example: https://example.com/emojis/example.gif
    description: API_Entities_AwardEmoji model
  API_Entities_UserBasic:
    type: object
    properties:
      id:
        type: integer
        format: int32
        example: 1
      username:
        type: string
        example: admin
      name:
        type: string
        example: Administrator
      state:
        type: string
        example: active
      locked:
        type: boolean
      avatar_url:
        type: string
        example: https://gravatar.com/avatar/1
      avatar_path:
        type: string
        example: "/user/avatar/28/The-Big-Lebowski-400-400.png"
      custom_attributes:
        type: array
        items:
          "$ref": "#/definitions/API_Entities_CustomAttribute"
      web_url:
        type: string
        example: https://gitlab.example.com/root
    description: API_Entities_UserBasic model
  postApiV4GroupsIdEpicsEpicIidAwardEmoji:
    type: object
    properties:
      name:
        type: string
        description: Name of the emoji without colons.
    required:
      - name
    description: Add a new emoji reaction
  postApiV4GroupsIdEpicsEpicIidNotesNoteIdAwardEmoji:
    type: object
    properties:
      name:
        type: string
        description: Name of the emoji without colons.
    required:
      - name
    description: Add a new emoji reaction
  API_Entities_Badge:
    type: object
    properties:
      name:
        type: string
      link_url:
        type: string
      image_url:
        type: string
      rendered_link_url:
        type: string
      rendered_image_url:
        type: string
      id:
        type: string
      kind:
        type: string
    description: API_Entities_Badge model
  API_Entities_BasicBadgeDetails:
    type: object
    properties:
      name:
        type: string
      link_url:
        type: string
      image_url:
        type: string
      rendered_link_url:
        type: string
      rendered_image_url:
        type: string
    description: API_Entities_BasicBadgeDetails model
  postApiV4GroupsIdBadges:
    type: object
    properties:
      link_url:
        type: string
        description: URL of the badge link
      image_url:
        type: string
        description: URL of the badge image
      name:
        type: string
        description: Name for the badge
    required:
      - link_url
      - image_url
    description: Adds a badge to a group.
  putApiV4GroupsIdBadgesBadgeId:
    type: object
    properties:
      link_url:
        type: string
        description: URL of the badge link
      image_url:
        type: string
        description: URL of the badge image
      name:
        type: string
        description: Name for the badge
    description: Updates a badge of a group.
  putApiV4GroupsIdCustomAttributesKey:
    type: object
    properties:
      value:
        type: string
        description: The value of the custom attribute
    required:
      - value
    description: Set a custom attribute on a group
  API_Entities_Group:
    type: object
    properties:
      id:
        type: string
      web_url:
        type: string
      name:
        type: string
      path:
        type: string
      description:
        type: string
      visibility:
        type: string
      share_with_group_lock:
        type: string
      require_two_factor_authentication:
        type: string
      two_factor_grace_period:
        type: string
      project_creation_level:
        type: string
      auto_devops_enabled:
        type: string
      subgroup_creation_level:
        type: string
      emails_disabled:
        type: boolean
      emails_enabled:
        type: boolean
      mentions_disabled:
        type: string
      lfs_enabled:
        type: string
      archived:
        type: boolean
      math_rendering_limits_enabled:
        type: boolean
      lock_math_rendering_limits_enabled:
        type: boolean
      default_branch:
        type: string
      default_branch_protection:
        type: string
      default_branch_protection_defaults:
        type: string
      avatar_url:
        type: string
      request_access_enabled:
        type: string
      full_name:
        type: string
      full_path:
        type: string
      created_at:
        type: string
      parent_id:
        type: string
      organization_id:
        type: string
      shared_runners_setting:
        type: string
      max_artifacts_size:
        type: integer
        format: int32
      custom_attributes:
        "$ref": "#/definitions/API_Entities_CustomAttribute"
      statistics:
        type: object
        properties:
          storage_size:
            type: string
          repository_size:
            type: string
          wiki_size:
            type: string
          lfs_objects_size:
            type: string
          job_artifacts_size:
            type: string
          pipeline_artifacts_size:
            type: string
          packages_size:
            type: string
          snippets_size:
            type: string
          uploads_size:
            type: string
      marked_for_deletion_on:
        type: string
      root_storage_statistics:
        "$ref": "#/definitions/API_Entities_Namespace_RootStorageStatistics"
      ldap_cn:
        type: string
      ldap_access:
        type: string
      ldap_group_links:
        "$ref": "#/definitions/EE_API_Entities_LdapGroupLink"
      saml_group_links:
        "$ref": "#/definitions/EE_API_Entities_SamlGroupLink"
      file_template_project_id:
        type: string
      wiki_access_level:
        type: string
      repository_storage:
        type: string
      duo_core_features_enabled:
        type: boolean
        description: "[Experimental] Indicates whether GitLab Duo Core features are
          enabled for the group"
      duo_features_enabled:
        type: string
      lock_duo_features_enabled:
        type: string
    description: API_Entities_Group model
  API_Entities_Namespace_RootStorageStatistics:
    type: object
    properties:
      build_artifacts_size:
        type: integer
        format: int32
        description: CI artifacts size in bytes.
      container_registry_size:
        type: integer
        format: int32
        description: container registry size in bytes.
      container_registry_size_is_estimated:
        type: boolean
        description: Indicates whether the deduplicated container registry size for
          the namespace is an estimated value or not.
      dependency_proxy_size:
        type: integer
        format: int32
        description: Dependency Proxy sizes in bytes.
      lfs_objects_size:
        type: integer
        format: int32
        description: LFS objects size in bytes.
      packages_size:
        type: integer
        format: int32
        description: Packages size in bytes.
      pipeline_artifacts_size:
        type: integer
        format: int32
        description: CI pipeline artifacts size in bytes.
      repository_size:
        type: integer
        format: int32
        description: Git repository size in bytes.
      snippets_size:
        type: integer
        format: int32
        description: Snippets size in bytes.
      storage_size:
        type: integer
        format: int32
        description: Total storage in bytes.
      uploads_size:
        type: integer
        format: int32
        description: Uploads size in bytes.
      wiki_size:
        type: integer
        format: int32
        description: Wiki size in bytes.
  EE_API_Entities_LdapGroupLink:
    type: object
    properties:
      cn:
        type: string
        example: ldap-group-1
      group_access:
        type: integer
        format: int32
        example: 10
      provider:
        type: string
        example: ldapmain
      filter:
        type: string
        example: id >= 500
      member_role_id:
        type: integer
        format: int32
        example: 12
  EE_API_Entities_SamlGroupLink:
    type: object
    properties:
      name:
        type: string
        example: saml-group-1
      access_level:
        type: integer
        format: int32
        example: 40
      member_role_id:
        type: integer
        format: int32
        example: 12
  postApiV4Groups:
    type: object
    properties:
      name:
        type: string
        description: The name of the group
      path:
        type: string
        description: The path of the group
      parent_id:
        type: integer
        format: int32
        description: The parent group id for creating nested group
      organization_id:
        type: integer
        format: int32
        description: The organization id for the group
        default: {}
      description:
        type: string
        description: The description of the group
      visibility:
        type: string
        description: The visibility of the group
        enum:
          - private
          - internal
          - public
      avatar:
        type: file
        description: Avatar image for the group
      share_with_group_lock:
        type: boolean
        description: Prevent sharing a project with another group within this group
      require_two_factor_authentication:
        type: boolean
        description: Require all users in this group to setup Two-factor authentication
      two_factor_grace_period:
        type: integer
        format: int32
        description: Time before Two-factor authentication is enforced
      project_creation_level:
        type: string
        description: Determine if developers can create projects in the group
        enum:
          - noone
          - owner
          - maintainer
          - developer
          - administrator
      auto_devops_enabled:
        type: boolean
        description: Default to Auto DevOps pipeline for all projects within this
          group
      subgroup_creation_level:
        type: string
        description: Allowed to create subgroups
        enum:
          - owner
          - maintainer
      emails_disabled:
        type: boolean
        description: '_(Deprecated)_ Disable email notifications. Use: emails_enabled'
      emails_enabled:
        type: boolean
        description: Enable email notifications
      show_diff_preview_in_email:
        type: boolean
        description: Include the code diff preview in merge request notification emails
      mentions_disabled:
        type: boolean
        description: Disable a group from getting mentioned
      lfs_enabled:
        type: boolean
        description: Enable/disable LFS for the projects in this group
      request_access_enabled:
        type: boolean
        description: Allow users to request member access
      default_branch:
        type: string
        description: The default branch of group's projects
        example: main
      default_branch_protection:
        type: integer
        format: int32
        description: Determine if developers can push to default branch
        enum:
          - 0
          - 3
          - 1
          - 2
          - 4
      default_branch_protection_defaults:
        type: object
        description: Determine if developers can push to default branch
        properties:
          allowed_to_push:
            type: array
            description: An array of access levels allowed to push
            items:
              type: object
              properties:
                access_level:
                  type: integer
                  format: int32
                  description: A valid access level
                  enum:
                    - 30
                    - 40
                    - 60
                    - 0
              required:
                - access_level
          allow_force_push:
            type: boolean
            description: Allow force push for all users with push access.
          allowed_to_merge:
            type: array
            description: An array of access levels allowed to merge
            items:
              type: object
              properties:
                access_level:
                  type: integer
                  format: int32
                  description: A valid access level
                  enum:
                    - 30
                    - 40
                    - 60
                    - 0
              required:
                - access_level
          code_owner_approval_required:
            type: boolean
            description: Require approval from code owners
          developer_can_initial_push:
            type: boolean
            description: Allow developers to initial push
      shared_runners_setting:
        type: string
        description: Enable/disable shared runners for the group and its subgroups
          and projects
        enum:
          - disabled_and_unoverridable
          - disabled_and_overridable
          - enabled
      enabled_git_access_protocol:
        type: string
        description: Allow only the selected protocols to be used for Git access.
        enum:
          - ssh
          - http
          - all
      membership_lock:
        type: boolean
        description: Prevent adding new members to projects within this group
      ldap_cn:
        type: string
        description: LDAP Common Name
      ldap_access:
        type: integer
        format: int32
        description: A valid access level
      shared_runners_minutes_limit:
        type: integer
        format: int32
        description: "(admin-only) compute minutes quota for this group"
      extra_shared_runners_minutes_limit:
        type: integer
        format: int32
        description: "(admin-only) Extra compute minutes quota for this group"
      wiki_access_level:
        type: string
        description: Wiki access level. One of `disabled`, `private` or `enabled`
        enum:
          - disabled
          - private
          - enabled
      duo_availability:
        type: string
        description: Duo availability. One of `default_on`, `default_off` or `never_on`
        enum:
          - default_on
          - default_off
          - never_on
      amazon_q_auto_review_enabled:
        type: boolean
        description: Enable Amazon Q auto review for merge request
      experiment_features_enabled:
        type: boolean
        description: Enable experiment features for this group
    required:
      - name
      - path
    description: Create a group. Available only for users who can create groups.
  putApiV4GroupsId:
    type: object
    properties:
      name:
        type: string
        description: The name of the group
      path:
        type: string
        description: The path of the group
      description:
        type: string
        description: The description of the group
      visibility:
        type: string
        description: The visibility of the group
        enum:
          - private
          - internal
          - public
      avatar:
        type: file
        description: Avatar image for the group
      share_with_group_lock:
        type: boolean
        description: Prevent sharing a project with another group within this group
      require_two_factor_authentication:
        type: boolean
        description: Require all users in this group to setup Two-factor authentication
      two_factor_grace_period:
        type: integer
        format: int32
        description: Time before Two-factor authentication is enforced
      project_creation_level:
        type: string
        description: Determine if developers can create projects in the group
        enum:
          - noone
          - owner
          - maintainer
          - developer
          - administrator
      auto_devops_enabled:
        type: boolean
        description: Default to Auto DevOps pipeline for all projects within this
          group
      subgroup_creation_level:
        type: string
        description: Allowed to create subgroups
        enum:
          - owner
          - maintainer
      emails_disabled:
        type: boolean
        description: '_(Deprecated)_ Disable email notifications. Use: emails_enabled'
      emails_enabled:
        type: boolean
        description: Enable email notifications
      show_diff_preview_in_email:
        type: boolean
        description: Include the code diff preview in merge request notification emails
      mentions_disabled:
        type: boolean
        description: Disable a group from getting mentioned
      lfs_enabled:
        type: boolean
        description: Enable/disable LFS for the projects in this group
      request_access_enabled:
        type: boolean
        description: Allow users to request member access
      default_branch:
        type: string
        description: The default branch of group's projects
        example: main
      default_branch_protection:
        type: integer
        format: int32
        description: Determine if developers can push to default branch
        enum:
          - 0
          - 3
          - 1
          - 2
          - 4
      default_branch_protection_defaults:
        type: object
        description: Determine if developers can push to default branch
[...]
